/* Responsive layout - For Medium Size Devices */
@media screen and (max-width: 800px) {
    /* ------------Home Page Photo Grid  --------------  */
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
}

@media screen and (max-width:790px){
  #address-div .submit-button{
      top:360px;
  }
  .food-item-set-up{
    padding: 1rem;
    width: 70vw;
    margin:0 auto;
  }
}

