    
  /* Responsive layout - for small devices */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  @media screen and (max-width:576px){
    #address-div .submit-button{
        top:460px;
    }
    .profile-input{
        top:240px;
        width:50vw;
    }
    
    .settings{
        width:14vw;
        height: 14vw;
        position: fixed;
        right:10px;
        bottom: 10px;
    }

    .add-item{
      width:8vw;
      height: 8vw;
      position: fixed;
      right:60px;
      bottom: 20px;
    }

    .fakeimg {
      font-weight: 400;
    }
    .restaurant-profile-image{
      padding: 0px;
      height:250px;
      font-size:1rem;
    }
}


@media screen and (max-width: 476px) {
  .restaurant-profile-row {   
    flex-direction: column;
  }
  .restaurant-profile-image{
    height: 400px;
  }
  .food-item-set-up{
    padding: 1rem;
    width: 90vw;
    margin:0 auto;
  }
  
}

